*{
  margin: 0;
  padding: 0;
}
.nav{
  height: 60px;
  width: 100%;
  background-color: white;
  color: black;
}
ul{
  display: flex;
  font-size: 20px;
  gap: 20px;
  align-items: center;
  padding-left: 50px;
}
ul li{
  list-style: none;
  padding-left: 70px;
  margin-left: 50px;
}
.pic1{
  padding-left: 10px;
  margin-top: 20px;
  padding-left: 20px;
}
.btn1{
  width: 70px;
  background-color: rgb(196, 20, 20);
  color: white;
  border-color: gray;
  margin: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.btn1 :hover{
  background-color: rgb(131, 79, 180);
  color: white;
}
.container{
  display: flex;
}
.content{
  padding-left: 50px;
}
.content h1{
  margin-top: 90px;
  font-size: 70px;
  font-weight: bold;
}
.content h3{
  padding-top: 20px;
  font-size: 20px;
}
.btn2{
  margin-top: 30px;
  background-color: brown;
  color: white;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.btn2:hover{
  background-color: blueviolet;
  color: white;
}
.btn3{
  background-color: transparent;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.img{
  margin-left: 30%;
  margin-top: 50px;
}
.pic2{
  padding-left: 50px;
  margin-top: 20px;
}
.pic3{
  padding-left: 10px;
  margin-top: 20px;
}
